<!doctype html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Project Login</title>
</head>
<body>
    <h1>Segon Projecte - app Login</h1>
    {% if request.user.is_authenticated %}
        <p>Bienvenido, {{ request.user.username }}!</p>
        <form action="{% url 'logout'%}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    {% else %}
        <a href="{% url 'user_form' %}">Iniciar sesión</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>